<div class="row" id="visuals">
  <a href="#live/{{sharedkey}}" target="_blank" type="button" class="btn btn-danger btn-sm btn-fullscreen">
    <i class="glyphicon glyphicon-fullscreen"></i>
  </a>
</div>

<div id="gif-wrapper">
  <div class="row" id="gif-animator">
  </div>
  <a href="#live/{{sharedkey}}" target="_blank" type="button" class="btn btn-danger btn-sm btn-gif-fullscreen">
  	<i class="glyphicon glyphicon-fullscreen"></i>
  </a>
</div>
