<div class="row" id="visuals">
	<button type="button" class="btn btn-danger btn-sm btn-fullscreen">
		<i class="glyphicon glyphicon-fullscreen"></i>
	</button>
</div>

<div class="row" id="gif-animator">
</div>
<button type="button" class="btn btn-danger btn-sm btn-fullscreen">
  <i class="glyphicon glyphicon-fullscreen"></i>
</button>
