<div class="row config-page">
  <div class="col-md-4 non-visual">
    <div id="map-profile"></div>
  </div>
  <div class="col-md-8">
    <div id="settings"></div>
    <div id="animcanvas"></div>
  </div>
</div>
