<div class="presentation-view">
  <div class="rtc-sign">
    {{#if waiting}}
      <h3>Waiting for Connection.</h3>
    {{else}}
      <h3>Connected! Ready For Performance</h3>
    {{/if}}
  </div>
</div>
<div class="row" id="fullscreen-gif-animator">
</div>