html, body {
  height: 100%;
}

body {
  background-color: #e8e8e8;
  /*overflow: hidden;*/
}

body, button, input, select, textarea {
  font-family: "Open Sans", sans-serif;
}

#main-wrapper {
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
}

/* NAV BAR */
@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    border: none;
    display: block;
  }
}

.navbar {
    display: block;
    background-color: #d1d2d2
}

.navbar-default .nav-synth>.active>a, .navbar-default .nav-synth>.active>a:focus, .navbar-default .nav-synth>.active>a:hover {
  background-color: #f9f9f9
}

.nav-synth>li:hover {
  background-color: #bec0c1
}

.nav-synth-item {
  width: 100%;
  text-align: center;
}

.nav-synth {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#save-config {
  color: #d9534f;
}

/* Config View */
.config-page, .config-page > div, #map-profile {
  height: 100%;
}

.profile-tab div, #settings div {
  height: 10%;
}

#animcanvas {
  height: 90%;
}

/* Profile mappings */

input[name=selected-profile] {
  display: block;
  margin-top: 0.75em;
}

.collapse-icon {
  padding-top: 10px;
}

.lead, .profile-controls {
  margin: 10px 0px;
}

.profile-controls > .btn {
  float: right;
  margin: 0px 5px;
}

#save-alert {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: none;
  z-index: 10;
}

.profile-buttons {
  padding-right: 25px;
}

.profile-buttons .btn {
  float: right;
}

.title-input {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.profile-title input:-webkit-autofill {
    background-color: none !important;
    background-image: none !important;
    color: transparent !important;
}

.bpm-input input[name=bpm] {
  width: 82px !important;
}

#config-profile-list {
  height: 90%;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.map-elements {
  height: 100%;
  max-height: 70vh;
  overflow: scroll;
}

.maplist {
  border-top: 1px solid #333;
  margin-top: 15px;
}

.map {
  border-bottom: 1px solid #333;
  height: 60px;
}

.map > div {
  height: 100%;
}

.map .row {
  margin-left: 0px;
  margin-right: 0px;
}

.map .midi-code {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  border-right: 1px solid #333;
  padding-left: 0px;
  padding-right: 0px;
}

.map .midi-code > span {
  margin-top: 12px;
  display: block;
}

.selected-map {
  background-color: #ccc;
}

.map-details {
  padding: 10px 5px;
}

.map-controls {
  display: block;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

/* Animation Screen and Buttons */
#visuals, #gif-animator {
  height: 100%;
}

#gif-wrapper, #fullscreen-gif-animator {
  display: none;
}

#gif-animator img, #fullscreen-gif-animator img {
  width: 100%;
  height: 100%;
}

#fullscreen-gif-animator {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#visuals-canvas {
  height:100%;
}

.btn-gif-fullscreen, .btn-fullscreen {
  z-index: 100;
  margin-top: -45px;
  display: block;
  width: 35px;
  position: relative;
  float: right;
  background-color: transparent;
  border-color: white;
}

.btn-fullscreen:hover,
.btn-fullscreen:focus,
.btn-gif-fullscreen:hover,
.btn-gif-fullscreen:focus {
  background-color: #555;
  border-color: white;
}

.livebar {
  padding-top:20px;
}

/* SETTINGS AND DEVICE CONFIG */
#device-select {
  margin: 5px 5px;
  display: inline;
  width: 75%;
}

#device-profile {
  margin: 10px 5px;
  float: right;
}

#settings-head {
  border-color: #bec0c1;
  padding: 5px 0px;
}

#settings-body {
  background-color: #d1d2d2;
  border-color: #d1d2d2;
}

/** Live Page **/
.presentation-view{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.rtc-sign {
  position: absolute;
  text-align: center;
  background-color: #eee;
  top: 30vh;
  bottom: 40vh;
  left: 35vw;
  width: 30vw;
  opacity: 0.8;
  padding-top: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/** Keyboard Page **/
#playground-visuals {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#playground-hint {
  position: absolute;
  text-align: center;
  background-color: #eee;
  top: 45vh;
  bottom: 50vh;
  left: 35vw;
  width: 30vw;
  opacity: 0.8;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

