html, body {
  height: 100%;
}

body {
  background-color: #e8e8e8;
  /*overflow: hidden;*/
}

body, button, input, select, textarea {
  font-family: "Open Sans", sans-serif;
}

#main-wrapper {
  padding-top: 60px;
}



/* NAV BAR */
@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    border: none;
    display: block;
  }
}

.navbar {
    display: block;
    background-color: #d1d2d2
}

.navbar-default .nav-synth>.active>a, .navbar-default .nav-synth>.active>a:focus, .navbar-default .nav-synth>.active>a:hover {
  background-color: #bec0c1
}

.nav-synth>li:hover {
  background-color: #bec0c1
}

.nav-synth-item {
  width: 100%;
  text-align: center;
}

.nav-synth {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#save-config {
  color: #d9534f;
}


/* Profile mappings */

input[name=selected-profile] {
  display: block;
  margin-top: 0.75em;
}

.collapse-icon {
  padding-top: 10px;
}

.profile-controls {
  float: right;
}

#save-profile {
  margin-left: 10px;
}

#save-alert {
  position: absolute;
  top: initial;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: none;
  z-index: 10;
}

.profile-buttons .btn {
  float: right;
}

.profile-title {
  margin-top: 10px;
}

.bpm-input input[name=bpm] {
  width: 82px !important;
}

#config-profile-list {
  height: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#mappings-config {
  height: 100%;
  overflow: auto;
}

.map-elements {
  height: 100%;
  max-height: 60vh;
  overflow: scroll;
}

.maplist {
  border-top: 1px solid #333;
  margin-top: 15px;
}

.map {
  border-bottom: 1px solid #333;
  height: 120px;
}

.map > div {
  height: 100%;
}

.map .row {
  margin-left: 0px;
  margin-right: 0px;
}

.map .midi-code {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  border-right: 1px solid #333;
  padding-left: 0px;
  padding-right: 0px;
}

.map .midi-code > span {
  margin-top: 25px;
  display: block;
}

.selected-map {
  background-color: #ccc;
}

.map-details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.map-controls {
  margin-top: 8px;
  display: block;
}

/* Animation Screen and Buttons */

#visuals, #gif-animator {
  height: 70vh;
}

#gif-animator, #fullscreen-gif-animator {
  display: none;
}

#gif-animator img, #fullscreen-gif-animator img {
  width: 100%;
}

#fullscreen-visuals, #fullscreen-gif-animator {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.btn-smallscreen {
  position: absolute;
  left: initial;
  right: 0;
  top: initial;
  bottom: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.btn-smallscreen:hover, .btn-smallscreen:focus {
  background-color: #555;
  border-color: white;
  color: white;
}

#visuals-canvas {
  height:100%;
}

.btn-fullscreen, .btn-fullscreen:visited {
  position: absolute;
  left: inherit;
  right: 0;
  top: inherit;
  bottom: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: transparent;
  border-color: white;
}

.btn-fullscreen:hover, .btn-fullscreen:focus {
  background-color: #555;
  border-color: white;
}

.livebar {
  padding-top:20px;
}

/* SETTINGS AND DEVICE CONFIG */
#settings {
  margin-bottom: 5px;
}

#device-select {
  margin: 5px 5px;
  display: inline;
  width: 75%;
}

#device-profile {
  margin: 10px 5px;
  float: right;
}

#settings-head {
  background-color: #bec0c1;
  border-color: #bec0c1;
}

#settings-body {
  background-color: #d1d2d2;
  border-color: #d1d2d2;
}

/** Live Page **/
.presentation-view, .testview {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.rtc-sign {
  position: absolute;
  text-align: center;
  background-color: #eee;
  top: 30vh;
  bottom: 40vh;
  left: 35vw;
  width: 30vw;
  opacity: 0.8;
  padding-top: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
