<div class="main-visuals">
	<button type="button" class="btn btn-default" data-toggle="offcanvas" data-target=".navmenu" data-canvas="#main-wrapper">Configure</button>
	<div class="midi-device-detail">No devices Connected</div>
  	<div class="visuals" id='visual-space'>
    	Visuals come here. 
  	</div>
</div>