<div class="midi-triggers">
  <button class="btn btn-primary btn-large trigger">Trigger 1</button>
  <button class="btn btn-primary btn-large trigger">Trigger 2</button>
  <button class="btn btn-primary btn-large trigger">Trigger 3</button>
  <button class="btn btn-primary btn-large trigger">Trigger 4</button>
  <button id = "btn-keymap" class="btn btn-primary btn-large">Configure Keyboard Animation</button>
</div>