<div class="midi-triggers">
  <button class="btn btn-primary btn-large">Trigger 1</button>
  <button class="btn btn-primary btn-large">Trigger 2</button>
  <button class="btn btn-primary btn-large">Trigger 3</button>
  <button class="btn btn-primary btn-large">Trigger 4</button>
</div>