<ul class="nav navmenu-nav">
{{#if user}}
  <li><a href="#profile">{{user.email}}</a></li>
  <li><a href="#logout">Logout</a></li>
{{else}}
  <li><a href="#login">Login</a></li>
  <li><a href="#signup">Signup</a></li>
{{/if}}
</ul>
