<div id="config-menu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">Synthery</a>
    <p>Press a key below in the input and choose the respective animation to map it to that key </p>
  	<div class="list-group" id="animations-list">
  	</div>
  	<div class="event-listener">
    	<input type="text" id="txt-char">
    	<br>
		<span id="spn-confirm"></span>
  	</div>
</div>